In [1]:
#import math
#import numpy as np
import pandas as pd
#import scipy.stats as stats
#import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
#import statistics as stat

In [2]:
# Starting dataset
df = pd.read_csv('customer_dataframe.csv', sep='\t', index_col=0)
df

,TProd,DProd,MaxPO,MinPO,MeanProdOrder,TSale,MinPSale,MaxPSale,MeanSaleOrder,TRProd,MeanPSale,TOrder,SETSaleQta,SESaleQtaOrder
CustomerID,,,,,,,,,,,,,,
17850,1702,21,141,12,48.628571,5317.89,6.36,107.25,151.939714,8,3.960370,34,4.137478,3.186426
13047,1355,105,309,3,84.687500,3089.10,6.64,68.00,193.068750,23,3.926082,9,5.420969,3.875000
12583,4978,114,714,100,292.823529,6629.34,6.80,132.80,389.961176,3,2.140474,15,5.803909,4.087463
13748,439,24,208,8,87.800000,948.25,9.36,204.00,189.650000,0,3.996429,5,4.080050,2.321928
15100,58,1,32,16,9.666667,635.10,175.20,350.40,105.850000,3,10.950000,3,2.251629,2.251629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13436,76,12,76,76,76.000000,196.89,10.20,25.50,196.890000,0,5.830000,1,3.418296,0.000000
15520,314,18,314,314,314.000000,343.50,9.48,34.68,343.500000,0,1.724444,1,2.996624,0.000000
13298,96,2,96,96,96.000000,360.00,90.00,270.00,360.000000,0,3.750000,1,1.000000,0.000000
14569,79,10,79,79,79.000000,227.39,1.65,122.40,227.390000,0,3.920000,1,3.418296,0.000000
12713,505,37,505,505,505.000000,794.55,5.04,71.70,794.550000,0,2.084595,1,4.100817,0.000000